.base-card {
    &__category {
        font-size: 20px;
        margin-bottom: 20px;
        color: $blue;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 25%;
        box-sizing: border-box;
        padding: 0 10px;
        padding-bottom: 40px;
        position: relative;
        &--ranking {
            padding: 20px 10px 10px 40px;
            height: 140px;
            background-color: $light-gray;
            border-right: 1px solid $white;
            border-bottom: 1px solid $white;
            &:hover {
                background-color: $blue;
                color: $white;
                & .base-card__rank {
                    color: inherit;
                }
            }
        }
        img {
            width: 100%;
        }
    }
    &__title {
        margin-top: 10px;
        font-size: 18px;
        line-height: 24px;
        &--small {
            font-size: 15px;
        }
        &--bold {
            font-weight: bold;
        }
        &--clamp {
            display: -webkit-box;
            display: -ms-flexbox;
            display: box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    &__media {
        font-size: 14px;
        margin: 10px 0;
    }
    &__content {
        font-size: 14px;
        line-height: 16px;
        color: $gray;
        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    &__favorite {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 20px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        outline: none;
        position: absolute;
        bottom: 0;
        right: 0;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
    &__rank {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 24px;
        color: $blue;
    }
}