$interval: 30px;

.base {
    &__section {
        max-width: $base-max-width;
        margin: 0 auto;
        & + & {
            padding-top: $interval;
            margin-top: $interval;
            border-top: 1px solid $light-gray;
        }
    }
}