$interval: 30px;

.main {
    max-width: $base-max-width;
    margin: 0 auto;
    &__section {
        & + & {
            padding-top: $interval;
            margin-top: $interval;
            border-top: 1px solid $light-gray;
        }
    }
}